body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:507px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:507px;
}
#u32947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:68px;
  background:inherit;
  background-color:rgba(102, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:68px;
}
#u32949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:57px;
}
#u32950 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:5px;
  width:69px;
  height:57px;
}
#u32951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u32952 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:18px;
  width:281px;
  height:32px;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u32953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u32954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32954 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:138px;
  width:71px;
  height:16px;
}
#u32955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u32956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32956 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:174px;
  width:85px;
  height:16px;
}
#u32957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u32958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32958 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:247px;
  width:71px;
  height:16px;
}
#u32959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u32960 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:134px;
  width:165px;
  height:25px;
}
#u32960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32961 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:169px;
  width:165px;
  height:25px;
}
#u32961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32962 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:241px;
  width:165px;
  height:25px;
}
#u32962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32963 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:423px;
  width:102px;
  height:25px;
}
#u32963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u32964 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:423px;
  width:102px;
  height:25px;
}
#u32964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u32965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32965 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:211px;
  width:85px;
  height:16px;
}
#u32966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u32967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32967 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:389px;
  width:73px;
  height:16px;
}
#u32968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32969 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:206px;
  width:165px;
  height:25px;
}
#u32969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32970 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:383px;
  width:165px;
  height:25px;
}
#u32970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32971 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:283px;
  width:71px;
  height:16px;
}
#u32972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u32973 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:277px;
  width:165px;
  height:25px;
}
#u32973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32974 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:318px;
  width:71px;
  height:16px;
}
#u32975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u32976 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:312px;
  width:165px;
  height:25px;
}
#u32976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32977 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:353px;
  width:57px;
  height:16px;
}
#u32978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32979 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:347px;
  width:165px;
  height:25px;
}
#u32979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
}
#u32980 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:458px;
  width:317px;
  height:13px;
  font-size:10px;
  color:#FF0000;
}
#u32981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
