<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zizhi.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="com.zizhi.model.Account">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="accountId" jdbcType="INTEGER" property="accountId" />
    <result column="companyId" jdbcType="INTEGER" property="companyId" />
    <result column="accountPhone" jdbcType="VARCHAR" property="accountPhone" />
    <result column="accountName" jdbcType="VARCHAR" property="accountName" />
    <result column="accountLogin" jdbcType="VARCHAR" property="accountLogin" />
    <result column="accountPassword" jdbcType="VARCHAR" property="accountPassword" />
    <result column="accountStatus" jdbcType="VARCHAR" property="accountStatus" />
    <result column="createdTime" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>

</mapper>