<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zizhi.mapper.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.zizhi.model.Company">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="companyId" jdbcType="INTEGER" property="companyId" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
    <result column="companyCode" jdbcType="VARCHAR" property="companyCode" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="createdTime" jdbcType="TIMESTAMP" property="createdTime" />
  </resultMap>
</mapper>