<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zizhi.mapper.LoginLogMapper">
  <resultMap id="BaseResultMap" type="com.zizhi.model.LoginLog">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="logId" jdbcType="INTEGER" property="logId" />
    <result column="companyId" jdbcType="INTEGER" property="companyId" />
    <result column="accountLogin" jdbcType="VARCHAR" property="accountLogin" />
    <result column="accountName" jdbcType="VARCHAR" property="accountName" />
    <result column="loginIp" jdbcType="VARCHAR" property="loginIp" />
    <result column="loginTime" jdbcType="TIMESTAMP" property="loginTime" />
  </resultMap>
</mapper>