<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zizhi.mapper.OperationLogMapper">
  <resultMap id="BaseResultMap" type="com.zizhi.model.OperationLog">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="operationId" jdbcType="INTEGER" property="operationId" />
    <result column="companyId" jdbcType="INTEGER" property="companyId" />
    <result column="operationModule" jdbcType="VARCHAR" property="operationModule" />
    <result column="operationFunction" jdbcType="VARCHAR" property="operationFunction" />
    <result column="operationType" jdbcType="VARCHAR" property="operationType" />
    <result column="operationName" jdbcType="VARCHAR" property="operationName" />
    <result column="operationTime" jdbcType="TIMESTAMP" property="operationTime" />
  </resultMap>
</mapper>