<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zizhi.mapper.OperationLogMapper">
  <resultMap id="BaseResultMap" type="com.zizhi.model.OperationLog">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="operation_Id" jdbcType="INTEGER" property="operationId" />
    <result column="company_Id" jdbcType="INTEGER" property="companyId" />
    <result column="operation_module" jdbcType="VARCHAR" property="operationModule" />
    <result column="operation_function" jdbcType="VARCHAR" property="operationFunction" />
    <result column="operation_type" jdbcType="VARCHAR" property="operationType" />
    <result column="operation_name" jdbcType="VARCHAR" property="operationName" />
    <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime" />
  </resultMap>
</mapper>